[includeIf "gitdir:~/work/gamertag/"]
    path = ~/.gitconfig-gamertag

[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig-personal
[http]
	postBuffer = 524288000
[user]
	email = alirezaalavirazavi@yahoo.com
