[includeIf "gitdir:~/work/mitbid/"]
    path = ~/.gitconfig-mitbid

[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig-personal
[http]
	postBuffer = 524288000
[user]
	email = alirezaalavirazavi@hotmail.com
	name = alire-alavi
[status]
	showUntrackedFiles = all
